* { margin:0; padding:0; box-sizing:border-box; }
body{
	background: url(images/books.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;

}


h1{
	font-family: 'Shadows Into Light Two', cursive;
	color:#FFFFFF;
	text-align: center;
	font-size: 400%;
	margin: 0;
}

ul{
	font-family: 'Shadows Into Light Two', cursive;
	color:#FFFFFF;
	text-align: left;
	line-height: 1.62em;
	font-size: 200%;
	float:left; 
	list-style: none;
	margin: 100px 0 0 20px;
}

a{
	text-decoration:none;
	color:#fff;
}
a:hover{ text-decoration:underline; }
	

/*.logo {
	width: 500px;
	height: 100px;
	/*border-style: double;
	border-width: 5px;
	border-color: #FFFFFF;
	margin: 20px auto;

} */

.block {
	background: black;
	border: 5px #fff double;
	margin:20px auto;
	opacity: 0.75;
	height:100px;
	width:500px;
}

.text {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;

}

.address{
	font-family: 'Helvetica';
	color:#FFFFFF;
	font-size: 100%; 
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.wrapper{
	width: 100%;
}

