body{
	font-family: 'Tienne', serif;
	font-size: 14px;
}
h1{
	text-align: center;
	font-size: 3.5em;
}

a {
	color:#000;
	text-decoration: none;
}

a:visited {color:black;
}

a:hover {color:#669CB7;

}

img{
	margin-right: 90px;
	margin-left: 90px; 
	margin-top: 10px; 
}

.content{
	float: left; 
	text-align: left;
	
}

.list {
	 list-style: none;
	 text-decoration: none;
}

.pretty {
	border: 2px solid #F0F0F0;
	padding: 10px;
	box-shadow: 3px 3px 7px #888888;
}

.glasses {
	width:150px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

